---
layout: default
title: Robert's Tech Blog
---

<div id="home">
  <h3 align="center">Currently <b class="red">available</b> for hire at <b class="red">$50</b>/hour.</h3>
  <h2>Articles</h2>
  <div class="posts-box">
    <ul class="posts">
      {% for post in site.posts %}
        {% if post.external_url  %}
        <li><a style="color: #FFE545">$</a> <a href="{{ post.external_url }}">{{ post.title }}</a> <span>{{ post.date | date_to_string }}</span></li>
        {% else %}
        <li><a style="color: #9C78BF">&laquo;</a> <a href="{{ post.url }}">{{ post.title }}</a><span>{{ post.date | date_to_string }}</span></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  
</div>
  
