<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Robert Qualls Blog" />
<meta name="keywords" content="robertqualls, rlqualls, programming, code, ruby, rails, ruby on rails, ror" />
<meta name="author" content="Robert Qualls" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.terminal.css" />

<title>robertqualls.com - Robert's Ruby/Programming Blog</title>
</head>

<body>
<div id="terminal"></div>

<div id="wrap">
	<div id="header">
		<p id="toplinks"></p>

    <h1 align="center"><a href="/"><!--<div id="logo"></div>-->RobertQualls</a></h1>
  

		<div align = "center" class="slogan">
				<a href="http://github.com/rlqualls" class="gray-text">GitHub</a>
        :|: <a href="http://rlqualls.devport.co" class="gray-text">Portfolio</a>
				:|: <a href="http://sitepoint.com/author/rqualls" class="gray-text">SitePoint</a>
        :|: <a href="http://codeschool.com/users/rlqualls" class="gray-text">Codeschool</a>
		</div>
</div>

<div id="content">  
  {{ content }}
</div>

<div id="footer">
  <p>&copy; 2016 <a href="/about.html">Robert Qualls</a></p>
</div>

</div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-41401615-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<script type="text/javascript" src="javascripts/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.terminal-0.8.8.min.js"></script>
<script type="text/javascript" src="javascripts/console.js"></script>
</body>
</html>

